.language-selector {
    background: @language-selector-gray;
    height: 100%;

    font-size: @small-font-size;
    line-height: 23px;

    a {
        color: @white;
        padding: 0 10px;
    }

    .icon {
        margin-top: 0;
    }
}