h2 {
    font-size: 1.8em;
    line-height: 1.3em;
    color: @h2-gray;

    border-bottom: 1px solid @h2-gray;
    width: 100%;
}

h3 {
    font-size: 1.6em;
    line-height: 1em;
}

h4 {
    font-size: 1.4em;
    line-height: 1em;
}

p {
    font-size: 1em;
    line-height: 1em;
    color: @article-content-gray;
}

.btn-green {
    background: @button-green;
    border: 1px solid @button-green-border;
    color: @white;
    text-decoration: underline;

    text-shadow: none;

    &:hover {
        background: lighten(@button-green, 10%);
        color: @button-green-border;
        text-decoration: underline;
    }
}