/* Colors */
@white: #fff;
@black: #000;
@top-navbar-gray: #868686;
@language-selector-gray: #9e9e9e;
@main-navbar-light: #50a929;
@main-navbar-dark: #3e8520;
@main-navbar-active: #e9e9e9;
@h2-gray: #999;
@image-border-gray: #ddd;
@heading-border-gray: #ccc;
@article-footer-gray: #959595;
@article-content-gray: #4b4b4b;
@button-green: #459423;
@button-green-border: #2e6217;
@sidebar-text-gray: #666;
@sidebar-blue: #154374;
@sidebar-blue-border: #123965;
@base-text-color: #333;
@footer-gray: #c3c3c3;
@submenu-border-gray: #666;
@submenu-text-gray: #999;
@submenu-navbar-dark: #d8d8d8;
@submenu-navbar-light: #f7f7f7;
@submenu-dropdown-border-light: #d0d0d0;

/* Font sizes */
@small-font-size: 0.86em;

/* Images */
@baseImagePath: '../img';

/* Layout */
@baseMarginBottom: 35px;